<!-- views/users/new.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New User</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        .profile-header h2 {
            font-family: Georgia, serif;
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 3px;
            margin-top: 20px;
            padding: 15px 20px;
            text-align: center;
            background-color: #0e6b00;
            border-radius: 10px;
        }
         
        .form-group {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 5px;
        }
 
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="profile-header">
            <h2>Create New User</h2>
        </div>
        <form action="/users" method="POST">
            <br>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <div class="input-group">
                    <input type="password" id="password" name="password" class="form-control" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="passwordToggle">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            
             <!-- Agregar campo de selección de rol -->
             <div class="form-group">
                <label for="role">Role:</label>
                <select id="role" name="role" class="form-control" required>
                    <option value="" disabled selected>Select Role</option>
                    <option value="client">Client</option>
                    <option value="consultant">Consultant</option>
                    <option value="coordinator">Coordinator</option>
                    <option value="operator">Operator</option>
                    <option value="technician">Technician</option>
                    <option value="interpreter">Interpreter</option>
                </select>
            </div>

            <br>

            <div class="form-group" style="text-align: center;">
                <button type="submit" class="btn btn-success">Create User</button>
                <a href="javascript:history.go(-1)" class="btn btn-outline-dark">Cancel</a>
            </div>

        </form>
    </div>

    <!-- Bootstrap JS (opcional, solo si necesitas funcionalidades de Bootstrap) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


<!-- Boton visibilidad contraseña -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const passwordInput = document.getElementById('password');
        const passwordToggle = document.getElementById('passwordToggle');
    
        passwordToggle.addEventListener('click', function() {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            passwordToggle.classList.toggle('active');
        });
    });
    </script>
    